In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
# salary_df = df['Salary Estimate'].str.replace(' (Glassdoor est.)','',regex = False).str.split('-')
# salary_df["Min Salary","Max Salary"] = df['Salary Estimate'].str.replace(' (Glassdoor est.)','',regex = False).str.split('-')
# salary_df
data = pd.read_csv('./ProjectData.csv')
data.head()
# data = pd.read_csv('./ProjectData.csv')
# data.head()
# data_engineer= pd.read_csv('./DataEngineer.csv')
# # print(data_engineer.columns)
# pd.DataFrame(data_engineer['Job Title'].value_counts())
# # business_analyst=pd.read_csv('./BusinessAna
# data_engineer['Founded'].dtypes

,Job Title,Company Name,Rating,Salary Estimate Average,Salary Estimate Min,Salary Estimate Max,Location,State,Size,Founded,Type of ownership,Industry,Sector,Revenue,Easy Apply,Competitors
0,Data Engineer,Sagence,4.5,115000.0,80000,150000.0,"New York, NY",NY,VSB (<50 Employees),2009,Company - Private,Consulting,Business Services,25000000,0,"WCI Consulting, PwC"
1,Data Engineer,Enterprise Integration,3.4,115000.0,80000,150000.0,"New York, NY",NY,SMB(51-500 Employees),1998,Company - Private,IT Services,Information Technology,50000000,0,0
2,Data Engineer,Maestro Technologies,5.0,115000.0,80000,150000.0,"New York, NY",NY,SMB(51-500 Employees),2003,Company - Private,IT Services,Information Technology,10000000,0,0
3,Data Engineer,Jane Street,4.8,115000.0,80000,150000.0,"New York, NY",NY,"Mid-Market(501-5,000 Employees)",2000,Company - Private,Investment Banking & Asset Management,Finance,0,0,0
4,Data Engineer,GNY Insurance Companies,3.7,115000.0,80000,150000.0,"New York, NY",NY,VSB (<50 Employees),1914,Company - Private,Insurance Carriers,Insurance,500000000,True,"Travelers, Chubb, Crum & Forster"

In [ ]:
data_analyst=pd.read_csv('./DataAnalyst.csv')
print(data_analyst.columns)
df = pd.DataFrame(data_analyst)
df['Size'].value_counts()

#------Data Cleaning-----------------#

#replacing -1 to 0 
# df.replace({"-1": "0"}, inplace=True)



#Clean Salary Estimate Column
salary_df = df['Salary Estimate'].str.replace(' (Glassdoor est.)','',regex = False)
df['Salary Estimate'] = salary_df
df_1 = df["Salary Estimate"].str.split("-", n = 1, expand = True)
df["Salary Estimate Min"]= df_1[0]
df["Salary Estimate Max"]= df_1[1]
df.head()
df['Salary Estimate Min'] = df['Salary Estimate Min'].str.replace('K','000', regex = False)
df['Salary Estimate Max'] = df['Salary Estimate Max'].str.replace('K','000', regex = False)
df['Salary Estimate Max'] = df['Salary Estimate Max'].str.replace('$','', regex = False)
df['Salary Estimate Min'] = df['Salary Estimate Min'].str.replace('$','', regex = False)
df.head()
df['Salary Estimate Min'] = df['Salary Estimate Min'].astype(float)
df['Salary Estimate Max'] = df['Salary Estimate Max'].astype(float)

# df['Founded'] = replace(-1,0)
df['Founded']=df['Founded'].replace(to_replace=-1,value=0)
# df['Founded'].fillna(0)

# df["Salary Estimate Min"].map("${:,.2f}".format)

# #Clean company column
# split_string = df["Company Name"].str.split("\n", n = 1, expand = True) 
# df["Company Name"] =split_string[0] 

# #Clean size column
# size_df = df['Size'].str.replace('employees','',regex = False)
# df['Size'] = size_df
# pd.DataFrame(df['Job Title'].value_counts())

# df.groupby(by = ['Salary Estimate']).sum()

# test = pd.DataFrame(df['Job Title'].unique())
# test
# count = len(df["Job Title"])
# # df["Salary Estimate"].unique()
# plt.bar('Salary Estimate','Rating')
# y_pos = np.arange(len(df['Salary Estimate']))
# y_pos
# # performance = [10,8,6,4,2,1]

# plt.bar(y_pos,'Rating', align='center', alpha=0.5)

# # test_df['Salary Estimate'] = test_df['Salary Estimate'].map(lambda x: x.lstrip('(Glassdoor est.)'))
# test_df['Salary Estimate'] = test_df['Salary Estimate'].map(lambda x: x.rstrip('(Glassdoor est.)'))
# test_df.drop(columns = ['result'])



#Clean up Company Name .map('${:,.2f}'.format)
# comp_df['Company Name']=df['Company Name'].map(lambda x: x.lstrip('\n'))

In [ ]:
df

In [ ]:
# df['Salary Estimate Min'] = df['Salary Estimate Min'].astype(float).map('${:,.2f}'.format)
# df['Salary Estimate Min'].to_numeric


df.loc[df['Job Title'].str.contains('Data Analyst'), 'Job Title'] = "Data Analyst"
df.loc[df['Job Title'].str.contains('Scientist'), 'Job Title'] = "Data Scientist"
df.loc[df['Job Title'].str.contains('Engineer'), 'Job Title'] = "Data Engineer"
df.loc[df['Job Title'].str.contains('Analyst'), 'Job Title'] = "Data Analyst"
df.loc[df['Job Title'].str.contains('DATA ANALYST'), 'Job Title'] = "Data Analyst"
df.loc[df['Job Title'].str.contains('ANALYST'), 'Job Title'] = "Data Analyst"
df.loc[df['Job Title'].str.contains('analyst'), 'Job Title'] = "Data Analyst"
df['Job Title'].value_counts()
df = df.loc[df['Job Title'] == 'Data Analyst',:]
df.columns
df = df[['Job Title','Salary Estimate','Rating','Company Name','Location','Headquarters',
   'Size','Founded','Type of ownership','Industry','Sector','Revenue',
    'Competitors','Easy Apply','Salary Estimate Min','Salary Estimate Max'
   
   ]]
df
df = df.rename(columns={'Job Title': 'Job_Title', 'Salary Estimate': 'Salary_Estimate'
                  ,'Company Name':'Company_Name','Type of ownership': 'Ownership_Type',
                   'Easy Apply':'Easy_Apply','Salary Estimate Min':'Minimum_Salary',
                   'Salary Estimate Max':'Maximum_Salary'
                  })
df
data_engineer.to_csv('../Desktop/Data_Engineer.csv')

# Rev_df = df['Salary Estimate'].str.replace(' (Glassdoor est.)','',regex = False)
# df['Salary Estimate'] = salary_df

In [ ]:
df.to_excel('../Desktop/Data_Analyst.xlsx')

In [ ]:
# df = pd.DataFrame(data_analyst["Type of ownership"].unique())
# df
# df.loc[df['Type of ownership'] == '0']
new_df = df.replace({"-1": "0"}, inplace=True)
new_df
df.dtypes
# data_analyst.head(20)

new = df["Location"].str.split(",", n = 1, expand = True) 
df["City"]= new[0] 
df["State"]= new[1] 
df.drop(columns =["Location"], inplace = True) 
test_df = df.copy() 
test_df
# test_df['Salary Estimate'] = test_df['Salary Estimate'].map(lambda x: x.lstrip('(Glassdoor est.)'))
test_df['Salary Estimate'] = test_df['Salary Estimate'].map(lambda x: x.rstrip('(Glassdoor est.)'))
test_df.drop(columns = ['result'])

In [ ]:
df['Revenue'].value_counts()
df.loc[df['Revenue'].str.contains('Unknown / Non-Applicable'), 'Revenue'] = "0"
df['Revenue'].value_counts()
df.head(40)

In [ ]:
#Data Engineer Dataset

data_engineer= pd.read_csv('./DataEngineer.csv')
# print(data_engineer.columns)
pd.DataFrame(data_engineer['Job Title'].value_counts())
# business_analyst=pd.read_csv('./BusinessAna
data_engineer.head()
salary_df = data_engineer['Salary Estimate'].str.replace(' (Glassdoor est.)','',regex = False)
data_engineer['Salary Estimate'] = salary_df
df_1 = data_engineer["Salary Estimate"].str.split("-", n = 1, expand = True)
data_engineer["Salary Estimate Min"]= df_1[0]
data_engineer["Salary Estimate Max"]= df_1[1]

data_engineer['Salary Estimate Min'] = data_engineer['Salary Estimate Min'].str.replace('K','000', regex = False)
data_engineer['Salary Estimate Max'] = data_engineer['Salary Estimate Max'].str.replace('K','000', regex = False)
data_engineer['Salary Estimate Max'] = data_engineer['Salary Estimate Max'].str.replace('$','', regex = False)
data_engineer['Salary Estimate Min'] = data_engineer['Salary Estimate Min'].str.replace('$','', regex = False)


# # data_engineer['Founded']=data_engineer['Founded'].replace(to_replace=-1,value=0)
# # df['Founded'].fillna(0)
# # data_engineer['Founded'].value_counts()
# data_engineer.head(40)

# data_engineer.dtypes
# data_engineer['Salary Estimate Min'] = data_engineer['Salary Estimate Min'].astype(float)
# data_engineer['Salary Estimate Max'] = data_engineer['Salary Estimate Max'].astype(float)

In [ ]:
# data_engineer['Salary Estimate Min'] = data_engineer['Salary Estimate Min'].astype(float)
# data_engineer['Salary Estimate Max'] = data_engineer['Salary Estimate Max'].astype(float)


# data_engineer['Salary Estimate Max'] = data_engineer['Salary Estimate Max'].str.replace('(Employer est.)','', regex = False)
# data_engineer['Salary Estimate Min'] = data_engineer['Salary Estimate Min'].str.replace('$','', regex = False)
data_engineer['Salary Estimate Min'] = data_engineer['Salary Estimate Min'].astype(float)
data_engineer['Salary Estimate Max'] = data_engineer['Salary Estimate Max'].astype(float)

In [ ]:
data_engineer['Job Title'].value_counts()

In [ ]:
# df.loc[df['Job Title'].str.contains('Data Analyst'), 'Job Title'] = "Data Analyst"
# data_engineer.loc[data_engineer['Job Title'].str.contains('Scientist'), 'Job Title'] = "Data Scientist"
# # data_engineer.loc[data_engineer['Job Title'].str.contains('Engineer'), 'Job Title'] = "Data Engineer"
# data_engineer.loc[data_engineer['Job Title'].str.contains('Analyst'), 'Job Title'] = "Data Analyst"
# # df.loc[df['Job Title'].str.contains('DATA ANALYST'), 'Job Title'] = "Data Analyst"
# data_engineer.loc[data_engineer['Job Title'].str.contains('ANALYST'), 'Job Title'] = "Data Analyst"
# # df.loc[df['Job Title'].str.contains('analyst'), 'Job Title'] = "Data Analyst"
# df['Job Title'].value_counts()
# data_engineer.loc[data_engineer['Job Title'].str.contains('ENGINEER'), 'Job Title'] = "Data Engineer"
data_engineer.columns
data_engineer = data_engineer[['Job Title','Salary Estimate','Rating','Company Name','Location','Headquarters',
   'Size','Founded','Type of ownership','Industry','Sector','Revenue',
    'Competitors','Easy Apply','Salary Estimate Min','Salary Estimate Max'
   
   ]]
# df
data_engineer = data_engineer.rename(columns={'Job Title': 'Job_Title', 'Salary Estimate': 'Salary_Estimate'
                  ,'Company Name':'Company_Name','Type of ownership': 'Ownership_Type',
                   'Easy Apply':'Easy_Apply','Salary Estimate Min':'Minimum_Salary',
                   'Salary Estimate Max':'Maximum_Salary'
                  })
data_engineer

# data_engineer_df = data_engineer['Company_Name'].str.replace(' (Glassdoor est.)','',regex = False)
# df['Salary Estimate'] = salary_df

# split_string_ds = data_engineer["Company_Name"].str.split("\n", n = 1, expand = True) 
# split_string_ds
# data_engineer["Company Name"] =split_string[0]

In [ ]:
data_engineer
split_string_ds = data_engineer["Company_Name"].str.split("\n", n = 1, expand = True) 
data_engineer["Company_Name"] =split_string_ds[0] 
data_engineer

In [ ]:
data_engineer['Founded']=data_engineer['Founded'].replace(to_replace=-1,value=0)
data_engineer

In [ ]:
data_engineer.replace({"-1": "0"}, inplace=True)
data_engineer.to_csv('../Desktop/Data_Engineer.csv')

In [ ]:
data_engineer['Size'].value_counts()